
<form [formGroup]="formService.form" novalidate="" (ngSubmit)="formService.submit($event)">
  <div class="modal-header">
    <h4 class="modal-title pull-left">Edit my profile
    </h4>
    <button class="close pull-right" type="button" aria-label="Close" (click)="modalRef.hide()"><span aria-hidden="true">×</span></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-xs-12">
        <app-form-messages></app-form-messages>
      </div>
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-4">
            <div class="row">
              <div class="col-xs-12 profile-pic" *ngIf="userFileUpload.files &amp;&amp; userFileUpload.files.length">
                <carousel [interval]="5000" [noWrap]="false">
                  <slide template="ngFor let image of userFileUpload.files"><img class="col-xs-12 img-responsive" [src]="image.url" style="margin:auto;"></slide>
                </carousel>
              </div>
              <div class="col-xs-12 profile-pic" *ngIf="!(userFileUpload.files &amp;&amp; userFileUpload.files.length)"><img src="http://placehold.it/250X250?text=Upload+image"></div>
            </div>
            <div class="row" *ngIf="userFileUpload.files &amp;&amp; userFileUpload.files.length">
              <div class="col-xs-4 thumbnail-wrapper" template="ngFor let image of userFileUpload.files"><img class="img-responsive img-thumbnail" [src]="image.url">
                <button class="btn btn-danger btn-circle" type="button" mwlConfirmationPopover title="Delete Image" [message]="'Do you want to remove ' + image.fileName + '?'" (confirm)="userFileUpload.removeFile(image.fileName)"><i class="glyphicon glyphicon-remove"></i></button>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <label class="btn btn-block btn-primary"><span class="glyphicon glyphicon-refresh spinning"></span>{{userFileUpload.loading?'Uploading...': 'Upload'}}
                  <app-file-input #userFileUpload formControlName="imgToken" type="user"></app-file-input>
                </label>
              </div>
            </div>
          </div>
          <div class="col-xs-8">
            <div class="row">
              <div class="col-xs-4">
                <fieldset class="form-group" [ngClass]="{'has-error': formService.form.get('firstName').touched && formService.form.get('firstName').errors}">
                  <label>First name
                  </label>
                  <input class="form-control" type="text" formControlName="firstName">
                </fieldset>
              </div>
              <div class="col-xs-4">
                <fieldset class="form-group" [ngClass]="{'has-error': formService.form.get('middleName').touched && formService.form.get('middleName').errors}">
                  <label>Middle name
                  </label>
                  <input class="form-control" type="text" formControlName="middleName">
                </fieldset>
              </div>
              <div class="col-xs-4">
                <fieldset class="form-group" [ngClass]="{'has-error': formService.form.get('lastName').touched && formService.form.get('lastName').errors}">
                  <label>Last name
                  </label>
                  <input class="form-control" type="text" formControlName="lastName">
                </fieldset>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6">
                <fieldset class="form-group" [ngClass]="{'has-error': formService.form.get('email').touched && formService.form.get('email').errors}">
                  <label>Email
                  </label>
                  <input class="form-control" type="email" formControlName="email">
                  <div *ngIf="formService.form.get('email').touched && formService.form.get('email').errors"><small class="text-danger" *ngIf="formService.form.get('email').hasError('email')">Invalid email</small>
                  </div>
                </fieldset>
              </div>
              <div class="col-xs-6">
                <fieldset class="form-group" [ngClass]="{'has-error': formService.form.get('contactNumber').touched && formService.form.get('contactNumber').errors}">
                  <label>Contact number
                  </label>
                  <input class="form-control" type="text" formControlName="contactNumber">
                  <div *ngIf="formService.form.get('contactNumber').touched && formService.form.get('contactNumber').errors"><small class="text-danger" *ngIf="formService.form.get('contactNumber').hasError('required')">Please enter contact number</small>
                  </div>
                </fieldset>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6">
                <fieldset class="form-group" [ngClass]="{'has-error': formService.form.get('dob').touched && formService.form.get('dob').errors}">
                  <label>Dob</label>
                  <kendo-datepicker class="form-control" formControlName="dob" [format]="'dd/MM/y'"></kendo-datepicker>
                </fieldset>
              </div>
              <div class="col-xs-6">
                <fieldset class="form-group" [ngClass]="{'has-error': formService.form.get('gender').touched && formService.form.get('gender').errors}">
                  <label> Gender?</label>
                  <div class="col-xs-12">
                    <label class="radio-inline">
                      <input type="radio" value="male" formControlName="gender" [checked]="formService.form.get('gender').value === 'male'"> Male
                    </label>
                    <label class="radio-inline">
                      <input type="radio" value="female" formControlName="gender" [checked]="formService.form.get('gender').value === 'female'"> Female
                    </label>
                    <label class="radio-inline">
                      <input type="radio" value="other" formControlName="gender" [checked]="formService.form.get('gender').value === 'other'"> Other
                    </label>
                  </div>
                </fieldset>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6">
                <fieldset class="form-group" [ngClass]="{'has-error': formService.form.get('isActive').touched && formService.form.get('isActive').errors}">
                  <label> Is Active?</label>
                  <div class="col-xs-12">
                    <label class="radio-inline">
                      <input type="radio" [value]="true" formControlName="isActive" [checked]="formService.form.get('isActive').value === true"> Yes
                    </label>
                    <label class="radio-inline">
                      <input type="radio" [value]="false" formControlName="isActive" [checked]="formService.form.get('isActive').value === false"> No
                    </label>
                  </div>
                </fieldset>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12" formGroupName="address">
            <h3>Address</h3>
            <hr>
            <div class="row">
              <div class="col-xs-6">
                <fieldset class="form-group" [ngClass]="{'has-error': formService.form.get('address').get('addressLine1').touched && formService.form.get('address').get('addressLine1').errors}">
                  <label>Address Line1
                  </label>
                  <input class="form-control" type="text" formControlName="addressLine1">
                </fieldset>
              </div>
              <div class="col-xs-6">
                <fieldset class="form-group" [ngClass]="{'has-error': formService.form.get('address').get('addressLine2').touched && formService.form.get('address').get('addressLine2').errors}">
                  <label>Address Line2
                  </label>
                  <input class="form-control" type="text" formControlName="addressLine2">
                </fieldset>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6">
                <fieldset class="form-group" [ngClass]="{'has-error': formService.form.get('address').get('town').touched && formService.form.get('address').get('town').errors}">
                  <label>Town/City
                  </label>
                  <input class="form-control" type="text" formControlName="town">
                </fieldset>
              </div>
              <div class="col-xs-6">
                <fieldset class="form-group" [ngClass]="{'has-error': formService.form.get('address').get('county').touched && formService.form.get('address').get('county').errors}">
                  <label>County
                  </label>
                  <input class="form-control" type="text" formControlName="county">
                </fieldset>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6">
                <fieldset class="form-group" [ngClass]="{'has-error': formService.form.get('address').get('country').touched && formService.form.get('address').get('country').errors}">
                  <label>Country
                  </label>
                  <input class="form-control" type="text" formControlName="country">
                </fieldset>
              </div>
              <div class="col-xs-6">
                <fieldset class="form-group" [ngClass]="{'has-error': formService.form.get('address').get('postcode').touched && formService.form.get('address').get('postcode').errors}">
                  <label>Postcode
                  </label>
                  <input class="form-control" type="text" formControlName="postcode">
                </fieldset>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="submit" [disabled]="!formService.form.valid" (submit)="submit($event)">Save</button>
    <button class="btn btn-secondary" type="button" (click)="modalRef.hide()">Close</button>
  </div>
</form>