
<form [formGroup]="formService.form" novalidate="" (ngSubmit)="formService.submit($event, 'updateMart')">
  <div class="modal-header">
    <h4 class="modal-title pull-left">
      <div>Change my password</div>
    </h4>
    <button class="close pull-right" type="button" aria-label="Close" (click)="modalRef.hide()"><span aria-hidden="true">×</span></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-xs-12">
        <app-form-messages></app-form-messages>
      </div>
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-6">
            <fieldset class="form-group" [ngClass]="{'has-error': formService.form.get('password').touched && formService.form.get('password').errors}">
              <label>Password
              </label>
              <input class="form-control" type="password" formControlName="password">
            </fieldset>
          </div>
          <div class="col-xs-6">
            <fieldset class="form-group" [ngClass]="{'has-error': formService.form.get('rePassword').touched && formService.form.get('rePassword').errors}">
              <label>Re-enter Password
              </label>
              <input class="form-control" type="password" formControlName="rePassword">
              <div *ngIf="formService.form.get('rePassword').touched && formService.form.get('rePassword').errors"><small class="text-danger" *ngIf="formService.form.get('rePassword').hasError('equalTo')">Password do not match</small>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="submit" [disabled]="!formService.form.valid" (submit)="submit($event)">Save</button>
    <button class="btn btn-secondary" type="button" (click)="modalRef.hide()">Close</button>
  </div>
</form>