include ../../../layouts/view-helpers/common

+app-page-title()
  .col-sm-4
    h2 Manage user groups
    ol.breadcrumb
      li
        a(routerLink='/') Home
      li
        a(routerLink='/user/list') Users
      li.active
        strong Groups
  .col-sm-8
    .title-action
      button.btn.btn-primary((click)="open()", *appHasPrivilege="['create-user-group-basic-privilege']") Create user group

+app-page-content()
  .ibox
    .ibox-content
      kendo-grid([data]='gridService.gridData', [pageSize] = "gridService.state.take", [skip]="gridService.state.skip", [pageable]="true", [sortable]="{ allowUnsort: true, mode: 'multiple' }", [sort] = "gridService.state.sort", [filter]="gridService.state.filter", [filterable] = "true",(dataStateChange) = "gridService.dataStateChange($event)")
        kendo-grid-column(field='name', title='User group name')
        kendo-grid-column(field='title', title='Title')
        kendo-grid-column(field='isActive', title ='Is Active?',  width='120', filter="boolean")
          ng-template(kendoGridCellTemplate, let-dataItem)
            input(type='checkbox', [checked]='dataItem.isActive', disabled='')
        kendo-grid-command-column()
          ng-template(kendoGridCellTemplate, let-dataItem)
            button.btn.btn-primary((click)='open(dataItem._id)', *appHasPrivilege="['update-user-group-basic-privilege']")
              i.glyphicon.glyphicon-pencil
            ng-container(*appHasPrivilege="['remove-user-group-basic-privilege']")
              button.btn.btn-danger.m-l-xs(*ngIf='!dataItem.isLocked', mwlConfirmationPopover,title= "Delete user group", [message] = "'Do you want to remove ' + dataItem.name + '?'",  (confirm)='remove(dataItem._id)', placement='left')
                i.glyphicon.glyphicon-remove
