
<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Manage user groups</h2>
    <ol class="breadcrumb">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/user/list">Users</a></li>
      <li class="active"><strong>Groups</strong></li>
    </ol>
  </div>
  <div class="col-sm-8">
    <div class="title-action">
      <button class="btn btn-primary" (click)="open()" *appHasPrivilege="['create-user-group-basic-privilege']">Create user group</button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="wrapper wrapper-content">
      <div class="animated fadeInRightBig">
        <div class="ibox">
          <div class="ibox-content">
            <kendo-grid [data]="gridService.gridData" [pageSize]="gridService.state.take" [skip]="gridService.state.skip" [pageable]="true" [sortable]="{ allowUnsort: true, mode: 'multiple' }" [sort]="gridService.state.sort" [filter]="gridService.state.filter" [filterable]="true" (dataStateChange)="gridService.dataStateChange($event)">
              <kendo-grid-column field="name" title="User group name"></kendo-grid-column>
              <kendo-grid-column field="title" title="Title"></kendo-grid-column>
              <kendo-grid-column field="isActive" title="Is Active?" width="120" filter="boolean">
                <ng-template kendoGridCellTemplate let-dataItem>
                  <input type="checkbox" [checked]="dataItem.isActive" disabled="">
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-command-column>
                <ng-template kendoGridCellTemplate let-dataItem>
                  <button class="btn btn-primary" (click)="open(dataItem._id)" *appHasPrivilege="['update-user-group-basic-privilege']"><i class="glyphicon glyphicon-pencil"></i></button>
                  <ng-container *appHasPrivilege="['remove-user-group-basic-privilege']">
                    <button class="btn btn-danger m-l-xs" *ngIf="!dataItem.isLocked" mwlConfirmationPopover title="Delete user group" [message]="'Do you want to remove ' + dataItem.name + '?'" (confirm)="remove(dataItem._id)" placement="left"><i class="glyphicon glyphicon-remove"></i></button>
                  </ng-container>
                </ng-template>
              </kendo-grid-command-column>
            </kendo-grid>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>