include ../../../layouts/view-helpers/common

- formName = 'formService.form';
- modalName = 'modalRef';
- formSubmit = 'formService.submit'

+app-modal(modalName)
    +app-form-mart(formName, formSubmit)
        +app-modal-header(modalName)
            div(*ngIf ='formService.result') Change password: {{formService.result?.username }}
        +app-modal-body
          .row
            .col-xs-6
              - name = 'password'
              - control = parseControl([formName, name])
              - label = 'Password'
              +app-form-input-group(control, name, label, 'password')

            .col-xs-6
              - name = 'rePassword';
              - control = parseControl([formName, name])
              - label = 'Re-enter Password'
              +app-form-input-group(control, name, label, 'password')
                +app-form-errors(control)
                  +app-form-error(control, 'equalTo')
                    | Password do not match

        +app-modal-footer(formName, modalName)
