
<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Manage orders</h2>
    <ol class="breadcrumb">
      <li><a routerLink="/">Home</a></li>
      <li class="active"><strong>Orders</strong></li>
    </ol>
  </div>
  <div class="col-sm-8">
    <div class="title-action">
      <button class="btn btn-primary" (click)="open()" *appHasPrivilege="['create-order-basic-privilege']">Create order</button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="wrapper wrapper-content">
      <div class="animated fadeInRightBig">
        <div class="ibox">
          <div class="ibox-content">
            <kendo-grid [data]="gridService.gridData" [pageSize]="gridService.state.take" [skip]="gridService.state.skip" [pageable]="true" [sortable]="{ allowUnsort: true, mode: 'multiple' }" [sort]="gridService.state.sort" [filter]="gridService.state.filter" [filterable]="true" (dataStateChange)="gridService.dataStateChange($event)">
              <kendo-grid-column field="_id" title="Order id"></kendo-grid-column>
              <kendo-grid-column field="user.firstName" title="First name"></kendo-grid-column>
              <kendo-grid-column field="user.lastName" title="Last name"></kendo-grid-column>
              <kendo-grid-column field="user.email" title="Email"></kendo-grid-column>
              <kendo-grid-column field="orderStatus" title="status"></kendo-grid-column>
              <kendo-grid-column field="referenceNumber" title="reference"></kendo-grid-column>
              <kendo-grid-command-column>
                <ng-template kendoGridCellTemplate let-dataItem><a class="btn btn-warning m-l-xs" [routerLink]="['/order/list', dataItem._id]" *appHasPrivilege="['view-order-basic-privilege']"><i class="glyphicon glyphicon-eye-open"></i></a></ng-template>
              </kendo-grid-command-column>
            </kendo-grid>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>