include ../../../../../layouts/view-helpers/common

- formName = 'formService.form';
- modalName = 'modalRef';
- formSubmit = 'formService.submit'

+app-modal
  +app-form(formName, formSubmit)
    +app-modal-header(modalName)
      | {{ formService.result?._id ? 'Edit order - notes: '+ formService.result._id : ''}}
    +app-modal-body
      .row
        .col-xs-12
          - name = 'customer'
          - control = parseControl([formName,  name])
          - label = 'Customer notes'
          +app-form-input-group(control, name, label)
            +app-form-errors(control)
      .row
        .col-xs-12
          - name = 'staff'
          - control = parseControl([formName,  name])
          - label = 'Staff notes'
          +app-form-input-group(control, name, label)

    +app-modal-footer(formName, modalName)
